#container {
  height: 500px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
